In [1]:

def first(arr, x, n):
    low = 0
    high = n - 1
    res = -1
    print("hua kuch")
    while (low <= high):
         
        # Normal Binary Search Logic
        mid = (low + high) // 2
         
        if arr[mid] > x:
            high = mid - 1
        elif arr[mid] < x:
            low = mid + 1
             
        # If arr[mid] is same as x, we
        # update res and move to the left
        # half.
        else:
            res = mid
            high = mid - 1
 
    return res
 
# If x is present in arr[] then returns
# the index of FIRST occurrence of x in
# arr[0..n-1], otherwise returns -1
def last(arr, x, n):
     
    low = 0
    high = n - 1
    res = -1
     
    while(low <= high):
         
        # Normal Binary Search Logic
        mid = (low + high) // 2
         
        if arr[mid] > x:
            high = mid - 1
        elif arr[mid] < x:
            low = mid + 1
             
        # If arr[mid] is same as x, we
        # update res and move to the Right
        # half.
        else:
            res = mid
            low = mid + 1
 
    return res
 
# Driver code
arr = [ 1, 2, 2, 2, 2, 3, 4, 7, 8, 8 ]
n = len(arr)
x = 8
 
print("First Occurrence =", first(arr, x, n))
print("Last Occurrence =", last(arr, x, n))
first(arr, x, n)

hua kuch
First Occurrence = 8
Last Occurrence = 9
hua kuch

8

In [8]:
name = 'kumar'
age =2.32
print(f'Hello, his name is {name}, and age is {age:1.1f}')
print('Hello, his Second name is {}, and age is {a:1.1f}'.format(name,a=age))

Hello, his name is kumar, and age is 2.3
Hello, his Second name is kumar, and age is 2.3

In [9]:
def get_user(name,age,salary):
    print("Name is: "+ name + " \nSalary is: ",salary, 'Age is ',age)
    return 'the returned statement for print statement'
print(get_user('kundan',25,47000))
print(get_user(age=44,name='ubanto',salary=884308))

Name is: kundan
Salary is:  47000 Age is  25
the returned statement for print statement
Name is: ubanto
Salary is:  884308 Age is  44
the returned statement for print statement

In [10]:
import datetime
now = datetime.datetime.now()

In [13]:
print(now)

2022-08-17 09:29:26.934977

In [14]:
now

datetime.datetime(2022, 8, 17, 9, 29, 26, 934977)

In [15]:
now.__str__()

'2022-08-17 09:29:26.934977'

In [16]:
now.__repr__()

'datetime.datetime(2022, 8, 17, 9, 29, 26, 934977)'

In [17]:
print(now.__str__())

2022-08-17 09:29:26.934977

## *Python constructor can't be overloaded*

In [33]:
class Emp:
    def __init__(self,name_is='akd',id_is=32):
        self.name=name_is
        self.id=id_is
        
    def display(self):
        print("Name is: ",self.name)
        print("ID is :", self.id)
        
    def __str__(self):
        print("The Object says that my name is {} and my id is{}".format(self.name,self.id))
        
e=Emp("rahul bhai",202)
f=Emp()
e.display()
# e.__str__()
# print(e)
print(f)

Name is:  rahul bhai
ID is : 202
The Object says that my name is akd and my id is32

TypeError: __str__ returned non-string (type NoneType)

~~Inheritance~~
>This is a blockquote
>>This is code inside another blockquote
>>> This is the last quote under another blockquote

In [37]:
class naukar(Emp):
    def b(self):
        print("i am inside naukar class")
        
ramu=naukar()  
ramu.display()

Name is:  akd
ID is : 32

1. Abacus
2. Bhamas
3. Linkedln
4. Profile Picture
> this is the title of something new
    -first point
    --second point
    --third point--
>> this is the title of something new
    -first point
    --second point
    --third point--
    
this is the title of something new
- first point
- second point
- third point--

![](https://logos-download.com/wp-content/uploads/2016/09/SpongeBob_SquarePants_picture_running.png)

[Google Search] (https://www.google.com)

- [x] learned something fishy
- [ ] learned somehing n

`this is the highlighted part here`

```python
def <function name>:
    {
        function body
    
    }
    
```

In [5]:
# a---<----b<-----c Multilevel inheritance

# a      b
#     
#    c               Multiple inheritance
# this follows the reference order in mutiple inheritance in first inherited gives teh property for the same



 # but the order (AnimalParent, Animal) gives error Cannot create a consistent method resolution
#order (MRO) for bases AnimalParent, Animal

In [9]:
class AnimalParent():
    def ap(self):
        print("Inside the animal parent class")
        
    def hfap(self):
        print("ho what is up ap")
        
class Animal(AnimalParent):
    def a(self):
        print("Inside the animal  class")
        
    def hfap(self):
        print("ho what is up a")
        
class Animalson(Animal,AnimalParent):
   
  
    
    def ap(self):
        print("Inside the animal son class")
        
ass=Animalson()
ass.hfap()

ho what is up a

![](https:/shorturl.at/ABERX)

![](https:/shorturl.at/TV169)

In [67]:
crate_list =tuple([int(x) for x in input("Enter the list elements with Space in-between").split()])

Enter the list elements with Space in-between55 44 11 11 55 44 88 99 77

In [68]:
print(crate_list)

(55, 44, 11, 11, 55, 44, 88, 99, 77)

In [69]:
crate_list

(55, 44, 11, 11, 55, 44, 88, 99, 77)

In [70]:
type(crate_list)

tuple

In [71]:
 people = {3: "kundan", 2: "Abhishek", 4: "yadav", 1: "Augestya"}

In [72]:
people.items()

dict_items([(3, 'kundan'), (2, 'Abhishek'), (4, 'yadav'), (1, 'Augestya')])

# sorting Dictionary by keys

In [73]:
dict(sorted(people.items()))

{1: 'Augestya', 2: 'Abhishek', 3: 'kundan', 4: 'yadav'}

In [74]:
people[3]

'kundan'

# sorting Dictionary by value

In [75]:
dict(sorted(people.items(),key =lambda item: item[1]),inplace =True)

{2: 'Abhishek', 1: 'Augestya', 3: 'kundan', 4: 'yadav', 'inplace': True}

In [76]:
newdict =dict(sorted(people.items(),key =lambda item: item[1]),inplace =True)

In [77]:
newdict

{2: 'Abhishek', 1: 'Augestya', 3: 'kundan', 4: 'yadav', 'inplace': True}

In [78]:
lst1=list(crate_list)

In [79]:
srt=lst1.sort()

In [80]:
srt   #this gives no argument

In [81]:
sorted(lst1)

[11, 11, 44, 44, 55, 55, 77, 88, 99]

In [82]:
lst1

[11, 11, 44, 44, 55, 55, 77, 88, 99]

In [83]:
lst2 =[5,354,767,34,13,112,343,23,34,54,4,56745,33,423,4,345]

In [84]:
del lst2

In [86]:
lst2

NameError: name 'lst2' is not defined

In [87]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

In [95]:
dict2=dict(sorted(capitals.items()))

In [111]:
dict2

{'France': 'Paris', 'India': 'New Delhi', 'USA': 'Washington D.C.'}

# sorting Dictionary by value

In [100]:
def sel(cap):
    return cap[1]
dict3 = sorted(dict2.items(),key =sel)     #it gives list not a dictionary

In [123]:
dict3=dict(dict3)


''' 
    sorted_dict3={}
    for key,value in dict3:
        sorted_dict3[key] = value
    sorted_dict3
'''

' \n    sorted_dict3={}\n    for key,value in dict3:\n        sorted_dict3[key] = value\n    sorted_dict3\n'

In [124]:
dict3

{'India': 'New Delhi', 'France': 'Shayad Paris', 'USA': 'Washington D.C.'}

In [113]:
sorted(dict2)

['France', 'India', 'USA']

In [114]:
type(dict3)

dict

In [117]:
dict3['France']='Shayad Paris'

In [118]:
dict3['France']

'Shayad Paris'

In [121]:
print(dict3.items())
print(dict3.keys())
print(dict3.values())

dict_items([('India', 'New Delhi'), ('France', 'Shayad Paris'), ('USA', 'Washington D.C.')])
dict_keys(['India', 'France', 'USA'])
dict_values(['New Delhi', 'Shayad Paris', 'Washington D.C.'])

In [126]:
captains = {'England': 'Root', 'Australia': 'Paine', 'India': 'Virat', 'Srilanka': 'Jayasurya'}
captains1=captains.copy()

In [127]:
captains1

{'England': 'Root',
 'Australia': 'Paine',
 'India': 'Virat',
 'Srilanka': 'Jayasurya'}

In [128]:
square = lambda s:s*s

In [129]:
square(4)

16

In [131]:
def squar(x):
    return x*x
print(squar(5))

25

In [134]:
l1=[int(x) for x in input("Enter The Values With Space").split()]
maximum =lambda l1:max(l1)
maximum(l1)

Enter The Values With Space45 78 98 65 54 22 33 65 78

98

In [136]:
list1 =list(range(0,10))

In [137]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
max(list1)

9

In [141]:
[x * x for x in range(1, 11)]
[x * x for x in range(1, 11) if x % 2 == 0]
[m + n for m in 'ABC' for n in 'XYZ']

# L = ['Hello', 'World', 'IBM', 'Apple']
# [s.lower() for s in L]

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']